body {
    background-color: lightgray;
    font-family: Arial;
    margin: 20px;
}

h1 {
    color: darkblue;
}

.menu {
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px solid black;
}

a:hover {
    color: red;
}

.highlight {
    color: green;
}
/* Center the quiz content */
form {
  max-width: 700px;
  margin: 40px auto;
}

/* Style each question box */
.question {
  border: 2px solid #444;   /* darker border */
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Center main title */
h1 {
  text-align: center;
}
.quiz-container {
  max-width: 700px;
  margin: 40px auto;
}
