body {
    background-color: gray;
    font-family: Arial;
    margin: 20px;
}

h1 {
    color: darkblue;
}

.menu {
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px solid black;
}

a:hover {
    color: red;
}

.highlight {
    color: green;
}
